<template>
  <section class='whell'>

    <header class='header'>
      <div class='container--small'>
        <div class='logo-okko'>
          <img src='../assets/images/logo-okko.svg' alt='okko'>
        </div>
        <div class='logo-sber'>
          <img src='../assets/images/logo-sber.png' alt='сбер'>
        </div>
      </div>
    </header>

    <div class='content container'>

      <div class='content__text'>
        <h1 class='content__text-title'>Колесо крути, верти — без&nbsp;подарка не уйти!</h1>
        <p class='content__text-subtitle'>Вращай колесо подарков и&nbsp;забирай промокод, на&nbsp;который укажет стрелка. Раздаём подарки до&nbsp;30&nbsp;сентября.</p>

        <a class='btn' @click='start'>Крутить!</a>

        <div class='content__text__social'>
          <a class='vk' href='#' target='_blank' rel="noreferrer noopener">
            <img src='../assets/images/soc/icon-vk.svg' alt='вконтатке'>
          </a>
          <a class='telegram' href='#' target='_blank' rel="noreferrer noopener">
            <img src='../assets/images/soc/icon-telegram.svg' alt='telegram'>
          </a>
          <a class='facebook' href='#' target='_blank' rel="noreferrer noopener">
            <img src='../assets/images/soc/icon-facebook.svg' alt='facebook'>
          </a>
        </div>

        <a class='content__text-rules' href='#' @click='popupActive'>Правила акции</a>
      </div>

      <div class='content-pic'>
        <div class='content-pic__whell'>
          <img class='carousel' src='../assets/images/wheel.png' alt=''>
          <img class='content-pic__whell-arr' src='../assets/images/arrow.svg' alt=''>
        </div>
      </div>

    </div>

    <div class='popup' :class="[result ? 'result--active' : false]" @click='popupClose'>
      <div class='popup-window'>
        <div class='close'></div>
        <div class='popup__content'>
          <div class='popup__content__gain'>
            <p class='popup__content__gain-title'>Ты выиграл:</p>
            <div class='popup__content__gain-img'>
              <img :src='resultImg' :alt='resultDesc'>
            </div>
            <p class='popup__content__gain-desc'>{{ resultDesc }}</p>
          </div>
          <div class='popup__content__form'>
            <form class="form">
              <p class='form-title'>Оставь свой e-mail и&nbsp;забирай подарок:</p>
              <input class="form-email" type="email" name="email" placeholder="Введите ваш e-mail" required>
              <input class='form-btn' type='submit' placeholder='ОТПРАВИТЬ'>
              <p class='agre'> Принимаю
                <a href='#'>Пользовательское соглашение</a>
                               и&nbsp;даю согласие на&nbsp;получение информационных и&nbsp;рекламных сообщений от&nbsp;Okko.
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class='popup' :class="[rules ? 'rules--active' : false]" @click='popupClose'>
      <div class='popup-window'>
        <div class='close'></div>
        <p>Сроки акции: {{ termsAction }}</p>
        <p>Акция действует для пользователей, ранее не совершавших покупок в Сервисе Okko и не участвовавших в любых других акциях Сервиса Okko.</p>
        <p>В рамках акции предоставляется промокод, дающий 30 дней доступа к подписке «Оптимум» за 1 рубль. Один пользователь может активировать только один промокод в рамках акции.</p>
        <p>В день окончания 30-дневного периода за использование подписки «Оптимум» будет списана абонентская плата.</p>
        <p>Сервис Okko 18+.</p>
        <p>Как активировать промокод:
          <a href='#' target='_blank' rel="noreferrer noopener">code.okko.tv</a>
        </p>
      </div>
    </div>

    <div class='paralax'>
      <img class='paralax-elem' ref='main' id='main' src='../assets/images/paralax/main.png' alt='okko-images-paralax'>
      <img class='paralax-elem' ref='elem_3_1' id='elem-3-1' src='../assets/images/paralax/other_ur3-1.png' alt='okko-images-paralax'>
      <img class='paralax-elem' ref='elem_3_2' id='elem-3-2' src='../assets/images/paralax/other_ur3-2.png' alt='okko-images-paralax'>
      <img class='paralax-elem' ref='elem_2_1' id='elem-2-1' src='../assets/images/paralax/other_ur2-1.png' alt='okko-images-paralax'>
      <img class='paralax-elem' ref='elem_1_1' id='elem-1-1' src='../assets/images/paralax/other_ur1-1.png' alt='okko-images-paralax'>
      <img class='paralax-elem' ref='elem_0_1' id='elem-0-1' src='../assets/images/paralax/other_ur0-1.png' alt='okko-images-paralax'>
    </div>

  </section>
</template>

<script>
    export default {
        name: 'whell',
        data() {
            return {
                result: false,
                rules: false,

                resultImg: '',
                resultDesc: '',

                termsAction: '20.07.20-30.08.20.',

                dataResult: [
                    {
                        img: require('@/assets/images/result/0.png'),
                        desc: '7 дней подписки PREMIUM'
                    },
                    {
                        img: require('@/assets/images/result/1.png'),
                        desc: '14 дней подписки OPTIMUM'
                    },
                    {
                        img: require('@/assets/images/result/2.png'),
                        desc: 'Скидка 5% на фильм'
                    },
                    {
                        img: require('@/assets/images/result/3.png'),
                        desc: 'Скидка на подписку OPTIMUM на 3 мес.'
                    },
                    {
                        img: require('@/assets/images/result/4.png'),
                        desc: '30 дней подписки OPTIMUM'
                    },
                    {
                        img: require('@/assets/images/result/5.png'),
                        desc: 'Скидка 5% на фильм'
                    },
                    {
                        img: require('@/assets/images/result/6.png'),
                        desc: '7 дней подписки START'
                    },
                    {
                        img: require('@/assets/images/result/7.png'),
                        desc: '40 дней подписки OPTIMUM'
                    },
                ],

                arrNum: 1,
                oneStep: 45,
                rotate: 0,
                randomNum: 0,

                x: 0,
                y: 0,
            }
        },
        methods: {
            popupActive() {
                this.rules = true;
            },
            popupClose({ target }) {
                if (target.classList[0] === 'popup' || target.classList[0] === 'close' || target.localName === 'a') {
                    this.result = false;
                    this.rules  = false;
                }
            },

            random(min, max) {
                min         = Math.ceil(min);
                max         = Math.floor(max);
                this.result = true;
                return Math.floor(Math.random() * (max - min)) + min;
            },

            start() {
                let carousel = document.querySelector('.carousel');

                this.randomNum = this.random(9, 19)
                this.arrNum    = this.arrNum + this.randomNum

                let numResult = this.arrNum % 8;

                this.resultImg  = this.dataResult[numResult].img;
                this.resultDesc = this.dataResult[numResult].desc;

                this.rotate            = this.rotate + this.randomNum * this.oneStep
                carousel.style.cssText = `transform: rotate(-${ this.rotate }deg); transition: transform 1.5s ease-in-out;`
            },
        },
        mounted() {
            window.addEventListener('mousemove', (event) => {
                this.x = event.clientX / window.innerWidth;
                this.y = event.clientY / window.innerHeight;

                this.$refs.main.style.transform     = `translate(${ this.x * 10 }px, -${ this.y * 5 }px`;
                this.$refs.elem_3_1.style.transform = `translate(${ this.x * 30 }px, -${ this.y * 5 }px`;
                this.$refs.elem_3_2.style.transform = `translate(${ this.x * 20 }px, -${ this.y * 5 }px`;
                this.$refs.elem_2_1.style.transform = `translate(${ this.x * 50 }px, -${ this.y * 5 }px`;
                this.$refs.elem_1_1.style.transform = `translate(${ this.x * 10 }px, -${ this.y * 5 }px`;
                this.$refs.elem_0_1.style.transform = `translate(${ this.x * 115 }px, -${ this.y * 5 }px`;

            })
        },
    }
</script>

<style lang='scss' scoped>

  .whell {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #751989 0%, #50169D 100%);
    z-index: 1;
    color: #fff;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -40%;
      width: 140%;
      height: 100%;
      background: url("../assets/images/main-img-bg--complete.svg") no-repeat 50% 50%/ 1300px; //80%
      z-index: -1;
    }

    .header {
      width: 100%;

      .container--small {
        height: 80px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;

      &__text {
        width: 50%;
        min-width: 600px;
        position: relative;
        padding: 120px 0 0 65px;
        z-index: 10;

        &-title {
          max-width: 615px;
          margin: 0 0 35px 0;
          font-weight: 700;
          font-size: 50px;
          min-width: 515px;
          @media screen and (max-width: 1380px) {
            font-size: 45px;
          }
          @media screen and (max-width: 1200px) {
            font-size: 35px;
          }
          @media screen and (max-width: 992px) {
            font-size: 25px;
          }
        }

        &-subtitle {
          max-width: 480px;
          margin: 0 0 70px 0;
          font-weight: 400;
          font-size: 25px;
          @media screen and (max-width: 1380px) {
            font-size: 23px;
          }
          @media screen and (max-width: 1200px) {
            font-size: 20px;
          }
          @media screen and (max-width: 992px) {
            font-size: 14px;
          }
        }

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 280px;
          height: 80px;
          margin: 0 0 40px 0;
          background: linear-gradient(90deg, #1A082C 0%, #73188A 100%);
          font-weight: 600;
          font-size: 29px;
          cursor: pointer;
          color: #fff;
          @media screen and (max-width: 1380px) {
            font-size: 26px;
          }
          @media screen and (max-width: 1200px) {
            font-size: 24px;
          }
          @media screen and (max-width: 992px) {
            font-size: 20px;
          }
        }

        &__social {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 145px;
          margin: 0 0 65px 0;
          @media screen and (max-width: 992px) {
            max-width: 92px;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            cursor: pointer;
            @media screen and (max-width: 992px) {

              img {
                width: 21px;
                height: 21px;
              }
            }
          }
        }

        &-rules {
          font-size: 14px;
          color: #fff;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &-pic {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        z-index: 10;
        width: 50%;

        &__whell {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          min-width: 545px;

          .carousel {
            width: 100%;
          }

          &-arr {
            position: absolute;
            transform: translateX(-20px);
            width: 15%;
          }
        }

        .anim {
          animation: twist 1.5s ease-in-out alternate;

          @keyframes twist {
            0% {
              transform: rotate(0deg);
            }
            0% {
              transform: rotate(180deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }


        }

      }

    }

    /* ------------------------------------- */
    .popup {
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 130px;
      display: flex;
      align-items: flex-end;
      background: rgba(0, 0, 0, .5);
      z-index: -1000;

      &-window {
        max-width: 495px;
        position: relative;
        padding: 45px 35px;
        background: linear-gradient(259.9deg, #C63DE3 -3.46%, #8352E4 113.3%);
        box-shadow: 12px 12px 22px rgba(32, 7, 45, 0.2);
        border-radius: 15px;
        transform: scale(0);
      }

      .close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 15px;
        height: 15px;
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 15px;
          height: 2px;
          background: #fff;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      p {
        font-size: 14px;

        &:nth-child(n):not(:last-child) {
          margin: 0 0 15px 0;
        }

        a {
          color: #fff;
          text-decoration: underline;
        }
      }
    }


    .rules--active {
      opacity: 1;
      z-index: 1000;
      transition: opacity .4s ease-in-out;

      .popup-window {
        transform: scale(1);
        transition: transform .4s ease-in-out .4s;
      }
    }

    .result--active {
      opacity: 1;
      z-index: 1000;
      transition: opacity .4s ease-in-out 2.2s;
      display: flex;
      justify-content: center;
      align-items: center;

      .popup-window {
        max-width: 770px;
        transform: scale(1);
        transition: transform .4s ease-in-out 2.6s;

        .popup__content {
          display: flex;

          &__gain {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            width: 220px;
            padding: 0 30px 0 0;
            margin: 0 70px 0 0;
            border-right: 1px solid white;

            &-title {
              font-weight: 700;
              font-size: 25px;
              text-align: center;
            }

            &-img {
            }

            &-desc {
              font-weight: 400;
              font-size: 25px;
              text-align: center;
            }
          }

          &__form {
            max-width: 395px;

            .form {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: flex-start;

              &-title {
                max-width: 265px;
                font-weight: 700;
                font-size: 25px;
                text-align: center;
              }

              &-email {
                max-width: 236px;
                width: 100%;
                padding: 0 0 0 15px;
                margin: 0 10px 0 0;
                height: 50px;
                background: #c169e9;

                &::placeholder {
                  font-size: 15px;
                  color: #fff;
                }
              }

              &-btn {
                display: flex;
                justify-content: center;
                flex-shrink: 0;
                max-width: 147px;
                width: 100%;
                height: 50px;
                background: linear-gradient(90deg, #1A082C 0%, #73188A 100%);
                color: #fff;
                font-weight: 600;
                font-size: 15px;
                cursor: pointer;
              }


              .agre {
                font-size: 11px;
                text-align: center;
              }
            }
          }
        }
      }
    }


    /*
        <div class='popup' :class="[result ? 'result--active' : false]" @click='popupClose'>
      <div class='popup-window'>
        <div class='close'></div>
        <div class='popup__content'>
          <div class='popup__content__gain'>
            <p class='popup__content__gain-title'>Ты выиграл:</p>
            <div class='popup__content__gain-img'>
              <img :src='resultImg' :alt='resultDesc'>
            </div>
            <p class='popup__content__gain-desc'>{{ resultDesc }}</p>
          </div>
          <div class='popup__content__form'>
            <form class="form">
              <p class='fleorm-tit'>Оставь свой e-mail и&nbsp;забирай подарок:</p>

              <input class="form-email" type="email" name="email" placeholder="Введите ваш e-mail" required>
              <input type='submit' placeholder='ОТПРАВИТЬ'>

              <p class='agre'> Принимаю
                <a href='#'>Пользовательское соглашение</a> и&nbsp;даю согласие на&nbsp;получение информационных и&nbsp;рекламных сообщений от&nbsp;Okko.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
    */

    /* ------------------------------------- */
    .paralax {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &-elem {
        position: absolute;
      }

      &-elem--main {
        top: -10%;
        left: 5%;
        @media screen and (max-width: 1200px) {
          top: 5%;
          left: 0;
        }
      }

      #elem-3-1 {
        left: 2%;
        bottom: 32%;
      }

      #elem-3-2 {
        top: 2%;
        left: 45%;
        right: 50px;
      }

      #elem-2-1 {
        bottom: 12%;
        left: 25%;
      }

      #elem-1-1 {
        right: 2%;
        bottom: 18%;
      }

      #elem-0-1 {
        top: 0;
        left: 53%;
      }

    }

  }

</style>
