/* Base element styles --------------------------- */

body {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 0 auto;
    overflow: hidden;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}

.container--small {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
