*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/*h1, h2, h3, h4, h5, h6 {
    line-height: 1.5ex;
}

button {
    line-height: 2ex;
}

p, a, b, ul, li, ol {
    line-height: 1.7ex;
}*/

/* or */

h1, h2, h3, h4, h5, h6,
button,
p, a, b, ul, li, ol {
    line-height: calc(3px + 2ex + 3px);
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #000;
}

a:hover {
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: initial;
    cursor: pointer;
}

button:hover,
button:active,
button:focus {
    outline: none;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

input,
input:hover,
input:active,
input:focus {
    outline: none;
    border: none;
    background: none;
}

span:hover,
span:active,
span:focus {
    outline: none;
}

select {
    outline: none;
    border: none;
}

textarea,
textarea:hover,
textarea:active,
textarea:focus {
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
}

textarea::-webkit-input-placeholder {
    color: #000;
}

textarea:-moz-placeholder {
    color: #000;
}

textarea::-moz-placeholder {
    color: #000;
}

textarea:-ms-input-placeholder {
    color: #000;
}

/* Bootstrap
  ------------------------------------- */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
}

small {
}

sub,
sup {
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

html {
    -webkit-appearance: none;
}
