<template>
  <section>
    <Wheel/>
  </section>
</template>

<script>
    import Wheel from './components/wheel'

    export default {
        name: 'App',
        components: {
            Wheel
        },
        data() {
            return {}
        },
    }
</script>

<style lang='scss'>
  @import "css/reset.css";
  @import "css/base.css";
</style>
